/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */

.node_content h2 { font-size: 1rem; }
code, blockcode { background-color:  #efefef; font-family: "DejaVu Sans Mono"; overflow: auto; }
blockcode { display: block; }

.block-search__content { float: right; }
#block-oerf-branding { float: left; }
#block-oerf-main-menu { float: left; }
.block-menu__content { float: right; }
#block-creativecommonsnotice-3 { float: left; }
#block-creativecommonsnotice-3 p { font-size: 70%; }
#block-oerf-footer { float: right; }

#block-creativecommonsnotice {
    float: left;
}

#block-oeru-technology-footer {
    float: right;
}

#block-oeru-technology-account-menu .menu .menu__item {
    float: left;
    margin-left: 18px;
}
#block-oeru-technology-account-menu .menu .menu__item:first-child {
    margin-left: 0px;
}

.node__content .field {
    margin: 0px 0px 18px 18px;
}

.node__container .node__header--has-meta {
    position: relative;
}

.node__container header {
    display: block; 
    padding-bottom: 10px;
}

.node__container header h1 {
    display: inline; 
}

/*.node__meta .node__submitted { */
.node__meta {
    display: inline;
    float: right;
    border-radius: 5px;
    line-height: 1em;
    margin: 2px 0px 6px 6px;
    padding: 6px;
    background-color: #eee;
    /* border: dotted 1px #ddd;*/
}	

.node__submitted span {
    display: block;
    /*float: left;*/
    font-size: 90%;
    color: #666;
}	

.node__submitted span.node__author {
    margin-right: 1em;
    display: none;
}

.node__submitted .node__pubdate .field {
    margin-bottom: 0;
}

.node__container .node__meta a:first-child {
    display: none;
}

.node__container .node__meta .node__author a {
    display: inline;
}

.node__content {
    clear: both;
}

.node__content .field-node--field-blog-tags {
    float: right;
    font-size: 90%;
}

.block .block__content .views-row {
    margin-bottom: 0.3em;
}
